.container__footer {
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--background);

}


.paragraph {
    text-align: center;
}

.paragraph a {
    color: var(--words);
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
    font-size: large;
}

.paragraph a:hover {
    font-weight: 900;
}

.footer__vertical {
    display: none;
}


@media (max-width: 600px) {
    .footer__orizontal {
      display: none;
    }
    .footer__vertical {
        display: flex;
    }
  }