.container__footer {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem linha */
    justify-content: center;
    align-items: center;
    gap: 5px; /* Espaço entre os itens */
    padding: 30px;
    background: var(--background);
    border-radius: 0.5rem;


   
}



.paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; /* Centraliza o texto */
    color: var(--words);
    font-size: 16pt;
    margin-top: 10px;
}

.paragraph a {
    color: var(--words);
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
    font-size: large;
    margin-top: 10px;
}

.paragraph a:hover {
    color: var(--primary);
}

/* Ajuste das imagens principais */
.footer__rede-parrei img,
.footer_katende_filmes img,
.footer__orizontal img {
    width: auto;
    height: 100px; /* Altura fixa */
    object-fit: contain; /* Ajusta o conteúdo sem distorção */
}

img:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
    transition: transform 0.3s ease; /* Animação suave */
}



.footer__vertical {
    display: none;
}

@media (max-width: 600px) {
    .footer__orizontal {
        display: none; /* Esconde a logo horizontal no mobile */
    }

    .footer__vertical {
        display: flex; /* Mostra a logo vertical no mobile */
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container__footer {
        flex-direction: column; /* Empilha os elementos no mobile */
        gap: 20px; /* Reduz espaço entre elementos */
        padding: 10px;
    }

    .paragraph {
        font-size: 12pt;
        margin-top: 5px;
    }

    /* Ajusta o tamanho das imagens menores no mobile */
    .footer__rede-parrei img,
    .footer_katende_filmes img {
        width: auto;
        height: 60px; /* Reduz altura no mobile */

    }

    /* Ajusta o tamanho da logo maior no mobile */
    .footer__vertical img {
        width: 150px;
        height: auto;
    }
}
