* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: linear-gradient(
    90deg, 
    #009688, /* Verde claro */
    #00796b, /* Verde médio */
    #004d40  /* Verde-escuro */
  );
  --words: #212121;
}

.bg {
  background: var(--background);
}
